*
{
    margin: 0;
    padding: 0;
}
.right-menu li
{
    display: inline-block;
    margin-top: 20px;
}
.right-menu li .fa
{
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.navbar-brand img
{
    width: 100px;
    
}
.navbar-brand 
{
    left: 50%;
    top:2px;
    transform: translate(-50%);
    position: absolute;
}
.header
{
    background: #f5f6;
}
.navbar
{
    padding: 0 35px;
}
